@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .bg-primary{
    background-color: #1A9988;
  }
  .bg-secondary{
    background-color:#EB4424;
  }
  .bg-navy-blue{
    background-color: #192954;
  }
  .text-primary{
    color: #1A9988;
  }
  .text-secondary{
    color:#EB4424; 
  }
  .text-navy-blue{
    color: #192954;
  }
  .text-balance {
    text-wrap: balance;
  }
}
